<div class="container mx-auto">
  <div class="flex flex-row justify-around mt-5 px-5">
    <div>
      <img src="../../../../assets/images/maps.jpg" class="border-gray border-2" />
    </div>
    <div class="flex flex-col">
      <label class="font-bold text-base">Our address</label>
      <label class="text-sm font-thin">110 St-Cathedral Pkwy Station</label>
      <label class="text-sm font-thin">4310 94th St, Flushing</label>
      <label class="text-sm font-thin">94-54 Corona Ave, Elmhurst</label>
      <label class="text-sm font-thin">5627 Van Doren St, Queens</label>
    </div>
  </div>
  <div class="w-full container mx-auto mt-5">
    <p class="text-center">Copyright by Shu</p>
  </div>
</div>
