<button nz-button [nzType]="'primary'" (click)="showModal()" class="my-10"><span>Tạo hóa đơn</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Thêm thông tin chi tiết hóa đơn" [nzWidth]="'80%'"
  (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <nz-steps [nzCurrent]="current" (nzIndexChange)="onIndexChange($event)">
      <nz-step nzTitle="Chọn thức uống và món ăn" [nzDisabled]="disable">
      </nz-step>
      <nz-step nzTitle="Chọn bàn">
      </nz-step>
      <nz-step nzTitle="Tổng thông tin hóa đơn">
      </nz-step>
    </nz-steps>
    <div class="steps-content">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
        <nz-form-item *ngIf="current == 0">
          <nz-form-label [nzSpan]="7" nzRequired>Trạng thái</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
            nzErrorTip="Hãy chọn trạng thái đơn hàng">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn trạng thái đơn hàng" formControlName="status">
              <nz-option *ngFor="let st of status" [nzLabel]="st.name" [nzValue]="st.status"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="current == 0">
          <nz-form-label [nzSpan]="7" nzRequired>Chọn món ăn và thức uống</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
            nzErrorTip="Please input description!">
            <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
              nzPlaceHolder="Chọn món ăn và thức uống" [(ngModel)]="listOfSelectedValue"
              (ngModelChange)="onListProductChange($event)" [ngModelOptions]="{standalone: true}">
              <nz-option *ngFor="let pro of products" [nzLabel]="pro.name" [nzValue]="pro"></nz-option>
            </nz-select>
            <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
          </nz-form-control>
        </nz-form-item>
        <div *ngIf="listOfSelectedValue && current == 0" class="px-4">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" class="justify-around">
            <div nz-col class="gutter-row" [nzSpan]="4" *ngFor="let product of listOfSelectedValue; let i = index">
              <div class="inner-box">
                <app-card-item-cate [imageUrl]="product.image_path" [title]="product.name"
                  [description]="product.price.toString()">
                </app-card-item-cate>
              </div>
              <div class="flex justify-between items-center my-2">
                <label for="">Số lượng:</label>
                <nz-input-number [nzMin]="1" [nzMax]="10" [nzStep]="1" [(ngModel)]="orderLine[i].quantity"
                  [ngModelOptions]="{standalone: true}"></nz-input-number>
              </div>
              <div class="flex justify-between items-center my-2">
                <label for="">Tổng cộng:</label>
                <p>{{product.price * orderLine[i].quantity}}.000 đ</p>
              </div>
            </div>
          </div>
        </div>
        <nz-form-item *ngIf="current == 1">
          <nz-form-label [nzSpan]="7" nzRequired>Chọn bàn</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
            nzErrorTip="Hãy chọn trạng thái đơn hàng">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn bàn đang trống" formControlName="table_id">
              <nz-option *ngFor="let tb of tables" [nzLabel]="tb.path" [nzValue]="tb.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <div *ngIf="tables && current == 1" class="px-4">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" class="justify-around">
            <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let table of tables; let i = index">
              <div class="inner-box">
                <app-table-card [tableId]="table.id" [tableName]="table.path" [status]="table.status"></app-table-card>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="current == 2">
          <h1 class="title-h1" style=" margin-bottom: 24px;">Samwyle Coffee</h1>
          <p class="title" style=" margin-bottom: 24px;">Địa chỉ: 29 Trần Quang Diệu Extended St., Phường 13, Quận. 10,
            Ho Chi Minh City</p>
          <p class="title" style=" margin-bottom: 24px;">Điện thoại: (84-511) 722350</p>
          <p class="title" style=" margin-bottom: 24px;">Bàn đặt: Bàn số {{validateForm.value.table_id}}</p>
          <nz-descriptions [nzColumn]="5" nzTitle="Chi tiết">
            <nz-descriptions-item nzTitle="Stt" [nzSpan]="1"></nz-descriptions-item>
            <nz-descriptions-item nzTitle="Tên" [nzSpan]="1"></nz-descriptions-item>
            <nz-descriptions-item nzTitle="Đơn giá" [nzSpan]="1"></nz-descriptions-item>
            <nz-descriptions-item nzTitle="SL" [nzSpan]="1"></nz-descriptions-item>
            <nz-descriptions-item nzTitle="Thành tiền" [nzSpan]="1"></nz-descriptions-item>
          </nz-descriptions>
          <nz-descriptions [nzColumn]="5" *ngFor="let orl of orderLine; let i = index">
            <nz-descriptions-item [nzSpan]="1">{{i}}</nz-descriptions-item>
            <nz-descriptions-item [nzSpan]="1">{{findProduct(products, orl.product_id).name}}</nz-descriptions-item>
            <nz-descriptions-item [nzSpan]="1">{{orl.price}}.000 đ</nz-descriptions-item>
            <nz-descriptions-item [nzSpan]="1">{{orl.quantity}}</nz-descriptions-item>
            <nz-descriptions-item [nzSpan]="1">{{orl.amount}}.000 đ</nz-descriptions-item>
          </nz-descriptions>
          <p class="title-end" style=" margin-bottom: 24px;">Tổng cộng: {{validateForm.value.total}}.000 đ</p>
          <p class="title-end" style=" margin-bottom: 24px;">Phí tax: {{validateForm.value.tax}} %</p>
          <p class="title-end" style=" margin-bottom: 24px;">Tổng dịch vụ: {{validateForm.value.total * (100 + validateForm.value.tax) / 100}}.000
            đ</p>
        </div>
      </form>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy bỏ</button>
    <button nz-button nzType="primary" (click)="handleOk()">Tạo</button>
  </div>
</nz-modal>

<nz-table nzShowPagination #nzTable [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th>Trạng thái</th>
      <th>Bàn đặt</th>
      <th>Tổng tax</th>
      <th>Tổng thanh toán</th>
      <th>Thời gian tạo đơn hàng</th>
      <th>Chức năng</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of nzTable.data">
      <tr>
        <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
        <td *ngIf="data.status == 'doing'">
          <nz-badge nzStatus="processing">
            <nz-tag [nzColor]="'#1890ff'">Đợi thanh toán</nz-tag>
          </nz-badge>
        </td>
        <td *ngIf="data.status == 'draft'">
          <nz-badge nzStatus="default">
            <nz-tag [nzColor]="'#d9d9d9'">Đang lên đơn</nz-tag>
          </nz-badge>
        </td>
        <td *ngIf="data.status == 'paid'">
          <nz-badge nzStatus="success">
            <nz-tag [nzColor]="'#52c41a'">Đã thanh toán</nz-tag>
          </nz-badge>
        </td>
        <td>{{ data.table_id }}</td>
        <td>{{ data.tax }}</td>
        <td>{{ data.total }}.000 đ</td>
        <td>{{ data.create_date | date:'short' }}</td>
        <td>
          <a (click)="openUpdateOrderModal(data)">
            <nz-tag [nzColor]="'#52c41a'">Cật nhật</nz-tag>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm nzPopconfirmTitle="Bạn chắc chắn muốn xóa đơn hàng này?" nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deleteOrder(data.id)">
            <nz-tag [nzColor]="'#ff4d4f'">Xóa</nz-tag>
          </a>
        </td>
      </tr>
      <tr [nzExpand]="expandSet.has(data.id)">
        <nz-table #nzTable1 [nzData]="data.order_line" nzTableLayout="fixed">
          <thead>
            <tr>
              <th>Mã số</th>
              <th>Sản phẩm</th>
              <th>Số lượng</th>
              <th>Đơn giá</th>
              <th>Tổng tiền</th>
              <th>Thời gian tạo</th>
            </tr>
          </thead>
  <tbody>
    <ng-container *ngFor="let line of nzTable1.data">
      <tr>
        <td>{{ line.id }}</td>
        <td>{{ _productService.findProduct(line.product_id, products).name }}</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.price }}.000 đ</td>
        <td>{{ line.amount }}.000 đ</td>
        <td>{{ line.create_date | date:'short' }}</td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
</tr>
</ng-container>
</tbody>
</nz-table>
