[nz-carousel-content] {
  text-align: center;
  height: 350px;
  line-height: 350px;
  background: #1890ff;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}
