<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzTheme="dark" nzCollapsible nzWidth="256px" nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Samwyle Quản lí</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Quầy phục vụ" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cashier-service">Danh mục sản phẩm</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/invoice-manager">Quản lý hóa đơn</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/desk-manager">Quản lý bàn</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Thu ngân" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/">Thống kê hóa đơn</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Bếp" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/">Đơn đặt món</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/">Quản lý kho</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Chấm công" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/">Chấm công ngày</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/">Thống kê chấm công</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <div class="mb-4">
          <nz-breadcrumb>
            <nz-breadcrumb-item>
              <a>
                <span>Trang chủ</span>
              </a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
              <a>
                <span *ngIf="currentPage == '/cashier-service'">Danh mục sản phẩm</span>
                <span *ngIf="currentPage == '/invoice-manager'">Quản lý hóa đơn</span>
                <span *ngIf="currentPage == '/desk-manager'">Quản lý bàn</span>
              </a>
            </nz-breadcrumb-item>
          </nz-breadcrumb>
        </div>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
