<div>
  <app-carousel></app-carousel>
  <nz-card nzTitle="Sản phẩm">
    <div nz-card-grid [ngStyle]="gridStyle">
      <app-card-item></app-card-item>
    </div>
    <div nz-card-grid [ngStyle]="gridStyle">
      <app-card-item></app-card-item>
    </div>
    <div nz-card-grid [ngStyle]="gridStyle">
      <app-card-item></app-card-item>
    </div>
    <div nz-card-grid [ngStyle]="gridStyle">
      <app-card-item></app-card-item>
    </div>
    <div nz-card-grid [ngStyle]="gridStyle">
      <app-card-item></app-card-item>
    </div>
    <div nz-card-grid [ngStyle]="gridStyle">
      <app-card-item></app-card-item>
    </div>
    <div nz-card-grid [ngStyle]="gridStyle">
      <app-card-item></app-card-item>
    </div>
    <div nz-card-grid [ngStyle]="gridStyle">
      <app-card-item></app-card-item>
    </div>
  </nz-card>
</div>
