<div>
  <div class="w-full flex justify-center align-middle">
    <div style="width: 350px; height: 350px;">
      <app-carousel></app-carousel>
    </div>
  </div>
  <div *ngIf="categories">
    <div *ngFor="let cate of categories">
      <div class="my-8">
        <p for="" class="text-2xl font-bold antialiased ">{{cate.name}}</p>
      </div>
      <div class="flex justify-around align-middle flex-row mt-8">

      </div>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" [nzSpan]="4" *ngFor="let product of getProductByCategory(cate.id, products)">
          <div class="inner-box">
            <app-card-item-cate
              [imageUrl]="product.image_path" [title]="product.name" [description]="product.price.toString()">
            </app-card-item-cate>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
